/*Reset al Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//asociamos carpeta utilities al Scss
@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/extends";
@import "utilities/functions";
@import "utilities/maps";

//asociamos grid al index
@import "layout/gridIndex";

/*----Propiedades header----*/
//---Version Mobile

//ubicacion del logo
header{
   .headerLogo{
      @include logoStile;
      img{
         max-width: 115px;
         //animacion del logo + link
         &:hover{
            transform: scale(1.025);
            transition: 0.5s;  
         }
      }
   }
   /*Prop del Menu*/
   .headerMenu nav ul{
      list-style: none;
      text-align: center;
      padding-left: 0;
      padding-bottom: 0,5rem;
      margin: 0;
      //edicion de menu
      li{
         display: inline-block;
         margin: 0.1rem;
         }
         //eliminacion de vineta
         a{
            font-size: 0.85rem;
            font-weight: bold;
            color:nth($colorFuente,13);
            text-decoration: none;
            &:hover{
               color:nth($colorFuente, 12);
               border-radius: 0.5rem;
               padding: 0px 3px;
               transform: scale(1.2);
               transform: translate(0.1rem, 0.1rem);
               box-shadow: 3px 3px $colorShadow;
               transition: 0.5s;
            }
         }
      }
   }
   //ajuste medida del carrito
   .headerChart{  
      display: none;
   }
/*----cierre-Header----*/
//--version Mobile

/*-----------------------------*/

/*----Prop Footer----*/
//--version Mobile
footer{
   margin-top: 0.1rem;
   //Propiedades de "C"
   .footerImgC{
      padding-top: 0.2rem; 
      text-align: center;
      //Size imagen legal "C"*
      img{
         width: 5%;
      }
   }
   //color y size del H3
   .footerText{
      h3{
         color: nth($colorFuente,3);
         font-size: 0.85rem;
         font-weight: 600;
         text-align: center;
         margin-bottom: 0%;
         // detalle de linea
         span{
         color: nth($colorFuente,2);
         font-weight: bolder;
         }
      }
   }
   //ubicacionde redes sociales
   .footerRedes{
      text-align: center;
      margin: 0.1rem;
      //Face-Inst size
      .sideF, .sideI{
         width: 7.5%;
         padding-bottom: 0.5rem;
         &:hover{
               transform: scale(1.2);
               transition: 0.5s;
         }
      }
   }
}
/*----Cierre-Footer----*/
//--version Mobile

/*-----------------------------*/

/*----Prop-index----*/
//--version Mobile

/*Prop carrusel*/
.section1{
   .contGralCarrusel{
      .contCarrusel{
         img{
            border: 0.1rem solid rgb(245, 245, 245);
         }
      }
      .carousel-control-prev, .carousel-control-next{
         z-index: 0;
         .carousel-control-prev-icon, .carousel-control-next-icon{
            background-color: #777c818b;
         }
      }
   }
}
//section2-Prop. H1-H2-P
.mainIndex{
   text-align: center;
   background-color: $colorFondo7;
   .editHead{
      font-size: 2.75rem;
      padding: 2rem 3rem 0rem;
      margin-bottom: 2rem;
      color:nth($colorFuente,11);     
   }
   .editSubt{
      font-size: 2rem;
      padding-bottom: 1.5rem;
      margin-bottom: 0; 
      color:nth($colorFuente,5);
      font-family: $tipoFuente2;
      font-weight: 700;
   }
   .editP{
      display: none;
      color: nth($colorFuente, 6);
      font-weight: bold;
      font-size: 1.25rem;
      padding: 0rem $pdP/4;
   }
}
//section3-WS
.section2, div{
   .wsAnime{
      position: fixed;
      bottom: 9rem;
      right: 0;
      width: 75px;
      /*Animacion en loop*/
      animation-name: vive;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      @keyframes vive{
         0%{ transform: scale(1)}
         50%{ transform: scale(1.10)}
      }
   }
}
/*----cierre-index----*/
//---version Mobile

@media only screen and (min-width: 480px){
   /*-----Prop Header------*/
   //---version tablet
   header{
      .headerLogo{
         img{
            max-width: 150px;
         }
      }
      /*Prop del Menu*/
      .headerMenu nav ul{
         li{
            a{
               font-size: 1.05rem;
            }
         }
      }
   }
  /*----cierre-Header----*/
  //--version tablet

  /*-----------------------------*/
  
  /*----Prop Footer----*/
  //--version tablet
   footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 10vh;
      //Prop de "C"
      .footerImgC{
         margin-left: 1rem;
         padding: 0.25rem; 
         img{
            width: 40%;
         }
      }
      //color y size del H3
      .footerText{
         display: flex;
         h3{
         text-align: center;
         }
      }
      //ubicacionde redes sociales
      .footerRedes{
         margin: 0rem;
         //Face-Inst size
         .sideF, .sideI{
            width: 20%;
         }
      }
   }
  /*----Cierre-Footer----*/
  //--version tablet

  /*-----------------------------*/
  
  /*----Prop-index----*/
  //--version tablet

  /*Prop carrusel*/
   .section1{
      .contGralCarrusel{
         max-width: 60rem;
         margin: auto;
      }
   }
  //section2-Prop. H1-H2-P
   main{
      .mainIndex{
         .editHead{
            font-size: 3rem;
            padding: 1.5rem 1rem;
            margin-bottom: 0rem;
         }
         .editSubt{
         font-size: 2.25rem;
         padding-bottom: 1rem;
         }
         .editP{
            display: block;
            font-size: 1rem;
            padding: 0rem $pdP/3;
            padding-bottom: 1rem;
            margin-bottom: 0rem;
         }
      }
   }
  //section3-WS
   .section2 div{
      .wsAnime{
         bottom: 7rem;
         width: 100px;
      }   
   }
   /*----cierre-index----*/
  //version tablet
}

@media only screen and (min-width: 1024px){
      
   /*-----Prop Header------*/
   //---version desktop
   header{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .headerLogo img{
         width: 200px;
         margin-left: 2.5rem;
      }
      .headerMenu, .headerChart{
         @include flexCenter
      }
      .headerChart{
         text-align: center;
         img{
            width: 50%;
         }
      }
      .headerMenu{
         nav{
            ul{
               padding-bottom: 0.25rem;
               li{
                  border-radius: 2rem;
                  padding: 0.1rem 0.5rem;
                  a{
                  justify-content: end;
                  align-items: center;
                  font-size: 1.25rem;
                  }
               }
            }
         }
      } 
   }
   /*----Cierre-header----*/
   //--version desktop

   /*----Prop Footer----*/
   //---version desktop 
   footer{
      height: 12vh;
      //Prop de "C"
      .footerImgC{
         margin-left: 4rem;
         padding: 1rem; 
         img{
            width: 50%;
         }
      }
      //color y size del H3
      .footerText{
         display: flex;
         h3{
         font-size: 1.15rem;
         text-align: center;
         }
      }
      //ubicacionde redes sociales
      .footerRedes{
         //Face-Inst size
         .sideF, .sideI{
               width: 25%;
               margin: 0.25rem;
         }
      }
   }
   /*----Cierre-Footer----*/
   //--version desktop

   /*-----------------------------*/

   /*----Prop Main-Index----*/
   //--version desktop

   .fondoIndex{
      @include estiloFondo1;
      //carrusel
      .contGralCarrusel{
         padding: 0.1rem;
      }
   }
   //section2-index
   //size, margins & paddins
   main{
      .mainIndex{
         border-top: 1px solid $colorBorde;
         .editHead{
            font-size: 5rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
         }
         .editSubt{
            font-size: 3rem;
         }
         .editP{
            margin: 0rem $mgP - 13;
            padding-bottom: 1.75rem;
            font-size: 1.75rem;
         }
      }
   }
   .section2 div{
      .wsAnime{
         width: 150px;
      }
   }
}
/*----Cierre-Main-Index----*/
//--version desktop

/*----------------------------*/

//asociamos grid AboutUs al html
@import "layout/gridAu";
    
//*----Prop-aboutUs----*/
//--Version Mobile

//contenedor Main-AboutUs
.fondoAu1{
   main{
      .tituloAu{
         font-family: 'Roboto', sans-serif;
         text-align: center;
         background-color: $colorFondo6;
         h1{
         color:nth($colorFuente,4);
         @extend %titulo1B;
         margin: 0;
         }
      }
   }
   //Section1
   .section1{
      .block1Au{
         img{
            width: 100%;
         }
         p{
            @include blockP;
            margin-bottom: 0;
            .block1AuPbreak{
               display: none;
            }
         }
      }
      .block2Au{
         flex-flow: column-reverse wrap;
         @extend %stileBlock;
         p{
            @include blockP;
            margin-bottom: 0;
         }
         video{
            width: 100%;
            height: 70%;
         }
      }
   }
}
//Prop Filosofia
.section2{
   .subAboutUs{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      background-color: $colorFondo6;
      padding: 1rem;
      h2{
         font-size: 2rem;
         font-weight: bold;
         color:nth($colorFuente, 11);
         margin: 0;
      }
   }
   .card-group{
      .card{
         margin: 0;
         text-align: center;
         .card-body-1, .card-body-3{
            background-color: $colorFondo4;
            .card-title{
               @include flexCenter;
               color: nth($colorFuente, 13);
               height: 7vh;
            }
         }
         .card-body-2{
            background-color: $colorFondo5;
            .card-text{
               @include flexCenter;
               text-align: justify;
               padding: 1rem ;
               color: nth($colorFuente, 13);
               height: 10rem;
            }
         }
      }
   }
}
/*---cierre-About Us---*/
//---version Mobile
@media only screen and (min-width: 480px){
  
   /*-----Prop AboutUs------*/
   //---version tablet

   //contenedor Main-AboutUs
   .fondoAu1{
      //titulo About Us
      main{
         .tituloAu{
            margin-left: 3rem;
            padding: 1.5rem 0rem;
            text-align: left;
         }
      }
      //Section1
      .section1{
         .block1Au{
            @include flexCenter;
            flex-flow: row nowrap;
            background-color: nth($colorFuente,11);
            img{
               margin: 0;
               padding-left: 0.5rem;
               padding-top: 0.5rem;
               max-width: 30%;
            // border:5px solid white;
            }
            p{
               @include blockP;
               margin-bottom: 0;
               .block1AuPbreak{
                  display: none;
               }
            }
         }
         .block2Au{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;        
            align-items: center;
            background-color:  #353d45;
            p{
               @include blockP;
               margin-bottom: 0;
               text-align: justify;
            }
            video{
               //margin: 0.3rem;
            // border: 5px solid rgb(19, 12, 12);
               max-width: 40%;
               padding-right: 0.5rem;
               padding-bottom: 0.5rem;
            }
         }
      }
   }
   //Prop Filosofia
   .section2{
      .subAboutUs{
         padding: 0.75rem;
         h2{
            font-size: 1.5rem;
            color: #353d45;
         }
      }
      .card-group{
         .card{
            margin: 0;
            .card-body-1, .card-body-3{
               background-color: rgb(240, 168, 60);
               .card-title{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  height: 7vh;
               }
            }
            .card-body-2{
               .card-text{
                  padding: 1rem;
                  color: white;
               }
            }
         }
      }
   }
   .section3{
      .editWs{
         .wsAnime{
         bottom: 7rem;
         width: 100px;
         }
      }
   }
}

@media only screen and (min-width: 576px){
   .contMainAu{
      .section2{
         .subAboutUs{
            text-align: left;
            padding-left: 2rem ;
         }
         .card-group{
         margin: 0rem;
            .card{
               margin: 0;
               .card-body-1, .card-body-3{
                  height: 100%;
               }
               .card-body-2{
                  height: 100%;
                  background-color: rgb(69, 154, 69);
                  .card-text{
                     text-align: center;
                     font-size: 0.75rem;
                     padding: 0;
                     color: white;
                  }
               }
            }
         }
      }
   }
}

@media only screen and (min-width: 768px){
  .contMainAu{
      .section2{
         .card-group{
            .card{
               .card-body-2{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .card-text{
                     font-size: 1.15rem !important;
                     padding: 0.15rem;
                  }
               }
            }
         }
      }
   }
}
 /*--cierre Main-AboutUs--*/
   //version tablet

@media only screen and (min-width:1024px){
     
   /*--Prop Main-AboutUs--*/
   //version desktop
   .contMainAu{
      .fondoAu1{
         main{
            .tituloAu{
               h1{
                  margin: 0;
               }
            }
         }
         .section1{
            .block1Au{
               margin: 0rem;
               padding: 1rem 5rem;
               img{
                  padding-bottom: 0.5rem;
                  width: 50%;
               }
               p{
                  font-size: 1.20rem;
                  padding-left: 3rem;
                  .block1AuPbreak{
                     display: block;
                  }
               }
            } 
            .block2Au{
               margin: 0rem;
               padding:  1rem 5rem;
               p{
                  text-align: justify;
                  font-size: 1.25rem;
                  padding-right: 3rem;
               }
               video{
                  width: 40%;
               }
            }
         }
      }
   }
   .section2{
      .subAboutUs{
         padding: 1rem 2rem;
         h2{
            font-size: 2rem;
            margin-bottom: 0;
         }
      }
   }
   .section3{
      .editWs{
         .wsAnime{
         width: 150px;
         }
      }
   }
}

/*----Cierre-Aboutus----*/
//--version Desktop

/*-------------------------------------*/

//asociamos grid al html
@import "layout/gridFtg";

/*----Prop Main-FoodtoGo----*/
//--Version Mobile

/*contenedor cuerpo Main*/
.contMainFtg{
   @include estiloFondo1;
   border-top: 0.1rem  solid white;
   main{
      .tituloFtg{
         font-family: 'Roboto', sans-serif;
         text-align: center;
         background-color: rgba(255, 255, 255, 0.712);
         border-bottom: 0.1rem  solid white;
         h1{
         color: nth($colorFuente,12);
         @extend %titulo1B;
         margin: 0;
         }
         h2{
            display: none;
         }
      }
   }
   /*Prop Cards*/
   .section1{
      .contS1Prod{
         //@include estiloFondo1;
         display: flex;
         flex-flow: row wrap;
         justify-content:space-evenly;
         .card{
            max-width: 11.5rem;
            margin: 1.5rem 1.5rem;
            text-align: center;
            padding: 0;
            img{
               border: 1.6px solid $colorMarcoImg;
               }
            .estiloCard{
            background-image: linear-gradient(to right, white, $colorFondo7);
               }
               .btn{
                  color:map-get($map: $btA, $key:color-btA);
                  border: none;
                  border-radius: map-get($map: $btA, $key:border-radius-btA);
                  font-weight: map-get($map: $btA, $key:font-weight-btA);
                  font-size: 1rem;
                  background-color: map-get($map: $btA, $key:background-color-btA);
                  &:hover{transform: scale(1.1);
                  box-shadow: 3px 3px #1C2833;
               }
            }
         }
      }
   }
}
/*----cierre-FoodtoGo----*/
//--version Mobile
@media only screen and (min-width: 480px){
 
   /*--Prop Main-FoodtoGo--*/
   //--version Laptop 
   .contMainFtg{
      main{
         .tituloFtg{
            padding-left: 4rem;
            text-align: left;
            background-color: rgba(255, 255, 255, 0.329);
            h1{
               font-size: 5rem;
               color: nth($colorFuente,12);
            }
            h2{
            display: inline-block;
            text-align: left;
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            padding: 0rem 3rem;
            color: nth($colorFuente,13);
            background-color: $colorFondo4;
            }
         }
      }
      //Prop Cards
      .section1{
         .contS1Prod{
            .card{
               max-width: 13rem;
               margin: 1.75rem 2rem;
               .estiloCard{
                  .btn{
                     font-size: 1.25rem;
                  }
               }
            }
         }
      }
   }
}
/*--Cierre-FoodtoGo--*/
//--version Laptop 
  
@media only screen and (min-width: 1024px){
 
   /*--Prop Main-FoodtoGo--*/
   //--version desktop
   
   .contMainFtg{
      main{
         .tituloFtg{
            h1{
            font-size: 7rem;
            }
            h2{
               font-size: 2.5rem;
            }
         }
      }
      //Prop Cards
      .section1{
         .contS1Prod{
            .card{
               max-width: 15rem;
               margin: 2rem 2rem;
               .estiloCard{
                  .btn{
                     font-size: 1.3rem;
                  }
               }
            }
         }
      }   
   }
}

/*----Cierre-FoodtoGo----*/
//--version desktop 

/*-----------------------------------------/

/*----Prop Main-Faqs----*/
//--Version Mobile

//asociamos grid al html
@import "layout/gridFaqs";

.contMainFaqs{
   @include estiloFondo3;
   font-family:$tipoFuente;
   //color: #1C2833;
   main{
      .tituloFaqs{
         text-align: center;
         h1{
         color: nth($colorFuente,13);
         @extend %titulo1B;
         }
      }
   }
   .section1{
      .subFaqs{
         display: none;
      }
   }
   //complemento bootstrap Accordion
   /*Prop Acordion*/
   .section2{
      .contS2Faq{
         .accordion{
            margin: 1rem 2rem;
            .estilosAcordion{
               margin: 1rem 2rem;
               .estiloTextoAcord{
                  background-color: white;
                  font-weight: bold;
                  padding: 1rem;
                  font-size: 1rem;
               }
               .accordion-button:not(.collapsed){
                     color: nth($colorFuente,12);
                  p{
                     font-size: 0.75rem;
                  }
               }
               .accordion-button:focus{
                  z-index: 1;
               }
            }
         }
      }
   }
}

/*----cierre Main-Faqs----*/
//--version Mobile

/*----Prop Main-Faqs----*/
//--version tablet
@media only screen and (min-width: 480px){
   .contMainFaqs{
      main{
         .tituloFaqs{
            padding-left: 4rem;
            text-align: left;
            h1{
            font-size: 5rem;
            }
         }
      }
      .section1{     
         .subFaqs {
            display: inline-block;
            margin-left: 4rem;
            h2{
            font-weight: bold;
            margin-bottom: 1rem;
            text-align: left;
            font-size: 2rem;
            color: nth($colorFuente, 13);
            background-color:$colorFondo4;
            }
         }
      }
      .section2{
         .contS2Faq{
            .accordion{
               margin: 1rem 3rem;
               .estilosAcordion{
               margin: 1.5rem 4rem;
               }
            }
         }
      }
   }
}
/*----cierre Main-Faqs----*/
//--version tablet
  
@media only screen and (min-width: 1024px){
  
   /*----Prop Main-Faqs----*/
   //--version desktop
   .contMainFaqs{
      main{
         .tituloFaqs{
            h1{
            font-size: 7rem;
            }
         }
      }
      .section1{     
         .subFaqs {
            h2{
            font-size: 2.5rem;
            }
         }
      }
      .section2{
         .contS2Faq{
            .accordion{
               margin: 1rem 5rem;
               .estilosAcordion{
                  margin: 2rem 6rem;
               }  
            }
         }
      }
   }
}
/*----Cierre Main-Faqs----*/
//--version Laptop

/*---------------------------------/

/*----Prop Main-Contact Us---*/
//--Version Mobile 

//asociamos grid al html
@import "layout/gridCu";

.contMainCu{
   font-family:'Roboto', sans-serif;
   .contMainCu2{
      main{
         .tituloCu{
            padding: 1rem  2rem;
            text-align: center;
            h1{
               margin-bottom: 0;
               font-size: 2rem;
               font-weight: bold;
               color:nth($colorFuente,12);
            }
         }
         .contSectionCu{
            .contSectionCu1, .contSectionCu2, .contSectionCu3{
               @extend %stileBlock;
               justify-content: left;
               h3{
                  font-size: 0.80rem;
                  font-weight: 700;

               }
               img{
                  width: 15%;
                  margin-left: 2.5rem;
                  padding: 0.75rem;
               }
            }
            .mapaCu{
               border:3px solid $colorMarcoImg;
               .editMap{
                  width: 100%;
               }
            }      
         }
      }
      //Prop subtitulo
      .section1{
         .subTituloCu{
            padding: 1rem  2rem;
            text-align: center;
            h2{
               margin-bottom: 0;
               font-size: 2rem;
               font-weight: bold;
               color:nth($colorFuente,12);
            }
         }
         //complemento boostrap
         .contFormCu{
            background-color:$colorFondo8;
            text-align: left;
            padding: 1rem 0rem;
            .stileForm{
               font-size: 1rem;
               font-weight: 700;
               padding: 0.5rem 3rem;
            }
            .bottonForm{
               text-align: center;
               margin: 0.5rem;
               .btnStile{
                  background-color: map-get($map:$btB, $key:background-color-btB);
                  color:map-get($map: $btB, $key:color-btB);
                  font-weight: map-get($map: $btB, $key:font-weight-btB);
                  border-radius: map-get($map: $btB, $key:border-radius-btB);
                  font-size: map-get($map: $btB, $key:font-size-btB );
                  padding:0.4rem 1.1rem;
                  border: none;
               }
            }
         }
      }
   }
   //Animacion Botton-back    
   .section2{
      .backHomeCu{
         text-align: center;
         padding: 1rem;
         img{
            width: 15%;
            transition: 2s;
            &:hover{ transform: scale(1.2);
            }
         }
         p{
            font-size: 0.75rem;
            font-weight: bold;
            color: nth($colorFuente, 9);
            margin: 0;
         }
      }
   }
}    
/*---cierre Main-Contact Us-----*/
//--version Mobile 

@media only screen and (min-width: 576px){

   /*----Prop Main-Contact Us---*/
   //--Version Laptop
   .contMainCu{
      .contMainCu2{
         display: flex;
         justify-content:space-evenly;
         main{
            .tituloCu{
               h1{
                  margin-top: 2.5rem;
                  margin-bottom: 1rem;
                  text-align: left;
                  font-size: 2.5rem;
                  padding: 0rem;
               }
            } 
            .contSectionCu{
               .contSectionCu1, .contSectionCu2, .contSectionCu3{
                  h3{
                     font-size: 1rem;
                  }
                  img{
                     width: 15%;
                     margin-left: 2.5rem;
                     padding: 0.75rem;
                  }
               }
               .mapaCu{
                  margin: 1rem;
                  .editMap{
                     height: 250px;
                     border:3px solid $colorMarcoImg;
                  }
               }  
            }
         }
         .section1{
            .subTituloCu{
               padding: 1rem 0.5rem;
               h2{
                  margin-top: 2.5rem;
                  margin-bottom: 1rem;
                  padding: 0rem;
                  text-align: left;
                  font-size: 2.5rem;
               }
            } 
            //complemento boostrap
            .contFormCu{
               text-align: left;
               margin: 0rem 0.5rem;
               padding: 0rem;
               .formCu{
                  margin: 0rem;
                  padding: 0rem;
                  .stileForm{
                     font-size: 1.15rem;
                     font-weight: 500;
                     margin: 0.5rem 1rem;
                     padding: 0rem;
                     .form-control{
                        padding: 0.3rem 0rem;
                     }
                  }
                  .bottonForm{
                     text-align: right;
                     padding: 0.75rem 1rem;
                  } 
               }
            }   
         }
      }
      //Animacion Botton-back    
      .section2{
         .backHomeCu{
         margin: 1rem;
            img{
               max-width: 80px;
            }
            p{
               font-size: 1rem;
            }
         }
      }  
   }
}

@media only screen and (min-width: 1024px){

   /*----Prop Main-Contact Us---*/
   //--Version Laptop
   .contMainCu{
      .contMainCu2{
         main{
            border: 2px solid whitesmoke;
            .tituloCu{
               h1{
                  font-size: 3rem;
               }
            } 
         }
         .section1{
            border: 2px solid whitesmoke;
            .subTituloCu{
               padding: 1rem 1rem;
               h2{
                  font-size: 3rem;
               }
            } 
         }
         //complemento boostrap
         .contFormCu{
            margin: 1rem 0.5rem;
            .formCu{
               margin: 0rem;
               .stileForm{
                  font-size: 1.25rem;
                  margin: 0rem 7rem;
                  padding: 1rem 7rem;
                  .form-label{
                     margin-top: 1rem;
                  }
                  .form-control{
                     margin: 0rem 5rem 0rem 0rem;
                  }
               }
               .bottonForm{
                  text-align: right;
                  margin: 1rem 1rem 1rem 0rem;
                  padding-bottom: 2rem;
               } 
            }
         }
      }
   }   
   //Animacion Botton-back    
   .section2{
      .backHomeCu{
         margin: 2rem;
            img{
               max-width: 110px;
            }
         p{
            font-size: 1rem;
           
         }
      }
   }   
}
    /*----cierre-Contact Us----*/
  //--version Laptop
     
/*--No es magia es codigo!!!!--*/
/*gracias por permitirme salir de mi zona de confort y romperme la cabeza para que esto me salga, Grande Fede!!*/
//--RIP--

